<title>Fish Pic Labeler</title>

<div class="container-fluid" style="color:white">
  <h4>Label the fish species:</h4>
</div>

<div class="container-fluid" style="color:white">

  <select class="form-control" id="fish-label">
    <option disabled selected value> -- select a fish species -- </option>
    <option value="carp">Carp</option>
    <option value="walleye">Walleye</option>
    <option value="yellow_perch">Yellow Perch</option>
    <option value="white_perch">White Perch</option>
    <option value="other">Other</option>
  </select>

  <br>
  <br>
  <img class="img-responsive" src="/assets/images/smallmouth_bass.png" alt="User Submitted Fish Photo">
  <br>
  Current prediction: <b>?</b>
</div>
