<title>Upload Fish Pic</title>

<div class="container-fluid" style="color: white">
  <center><h4>Upload or Take a Photo Now</h4></center>
  <p class="text-center">
    We use a photo of your fish to classify the species,
    <br>
    and give you important information like if your catch
    <br>
    is an invasive species or legal to keep.
  </p>
</div>

<div class="container-fluid">

  
  <div class="form-group" align="middle">
    <br>
    <label class="btn btn-default">
      <form action="/postimg" id="fish-pic-form" enctype="multipart/form-data" method="post" name="fish-pic-form">
        <input name="authenticity_token" type="hidden" value="<%= authenticity_token %>">
        <input id="fish-pic-input" type="file" accept="image/*" name="fish-pic-input" style="display:none">
          <span style="font-weight:bold;text-align:center"> 
              Upload or Take Photo
          </span>
          <center><img class="img-responsive" src="assets/images/CameraIconSmall.png" alt="Camera Icon" align="middle" height="75" width="100"></center>
          <input id="fish-pic-submit" type="submit" value="Upload" style="display:none">
      </form>
    </label>
    <br>
    <br>
    <br>
  </div>
</div>
